<nav class="navbar">
    <div class="navbar-left">
      <a href="#"><img src="assets/images/icono.png" alt="MediPeru"></a>
    </div>
    <ul class="navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="alta-pacientes">Alta pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="solicitar-medicamentos">Solicitar medicamentos</a>
      </li>
      <li class="nav-item" class="nav-item-contacto">
        <a class="nav-link" href="contacto">Contacto</a>
      </li>
    </ul>
</nav>
    <h2>Solicitud de Medicamentos</h2>
    <form action="#" method="POST">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="medicamento">Medicamento:</label>
          <select id="medicamento" name="medicamento" required>
            <option value="">Selecciona un medicamento</option>
            <option value="paracetamol">Paracetamol</option>
            <option value="ibuprofeno">Ibuprofeno</option>
            <option value="aspirina">Aspirina</option>
            <option value="loratadina">Loratadina</option>
            <option value="omeprazol">Omeprazol</option>
            <option value="amoxicilina">Amoxicilina</option>
            <option value="diazepam">Diazepam</option>
            <option value="tramadol">Tramadol</option>
            <option value="lorazepam">Lorazepam</option>
            <option value="ranitidina">Ranitidina</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="cantidad">Cantidad:</label>
          <input type="number" id="cantidad" name="cantidad" min="1" max="10" required>
        </div>
      </div>
      <div class="form-group">
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="5" required></textarea>
      </div>
      <button type="submit">Enviar solicitud</button>
    </form>
    <img src="https://fondosmil.com/fondo/32046.jpg" class="imagen_fondo_negro">
  <footer>
    <p>&copy; 2023 - MediPeru</p>
  </footer>


