<link rel="stylesheet" href="./altas.component.css">
    <main>
      <video src="assets/fondo_nikke.mp4" autoplay muted loop>></video>
      <h1>Alta Pacientes</h1>
      <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required oninvalid="this.setCustomValidity('Por favor, ingresa tu nombre.')"
          oninput="this.setCustomValidity('')">
        
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required oninvalid="this.setCustomValidity('Por favor, ingresa tu apellido.')"
          oninput="this.setCustomValidity('')">
        
        <label for="fecha-nacimiento">Fecha de nacimiento:</label>
        <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" required
          oninvalid="this.setCustomValidity('Por favor, ingresa tu fecha de nacimiento.')"
          oninput="this.setCustomValidity('')">
        
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
          oninvalid="this.setCustomValidity('Por favor, ingresa un número de teléfono válido (ejemplo: 123-456-7890).')"
          oninput="this.setCustomValidity('')">
        
        <label for="correo">Correo electrónico:</label>
        <input type="email" id="correo" name="correo" required
          oninvalid="this.setCustomValidity('Por favor, ingresa un correo electrónico válido (ejemplo: usuario@dominio.com).')"
          oninput="this.setCustomValidity('')">
        
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required oninvalid="this.setCustomValidity('Por favor, ingresa tu dirección.')"
          oninput="this.setCustomValidity('')">
        
        <label for="genero">Género:</label>
        <select id="genero" name="genero" required oninvalid="this.setCustomValidity('Por favor, selecciona tu género.')"
          oninput="this.setCustomValidity('')">
          <option value="" disabled selected>Selecciona una opción</option>
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
          <option value="otro">Otro</option>
        </select>
        
        <button type="submit">Enviar</button>
      </form>
      
    </main>

