.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  height: 40px;
}

.navbar-right {
  display: flex;
  align-items: center;
}
.nav-link {
  color: white;
  text-shadow: 1px 1px 2px #000000;
  text-decoration: none;
  outline: none;
}


.navbar-right li {

  margin-left: 40px;
  list-style: none;
}
img {
  width: 150px;
  height: 150px !important;
}

.navbar {
  background-color: black;
  opacity: 0.8;
}
.doctores {
  position: relative;
  width: 100vw !important;
  height: 10% !important;
  top: 145px !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: -1;
  margin-left: -10px !important;
  opacity: 0.7;
  filter: alpha(opacity=80); /* Para IE8 y versiones anteriores */
}

body {
  margin: 0 !important;
  background-color: black;
}
.navbar {
  font-family: 'Open Sans', sans-serif;
}

.imagen-texto {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
h1 {
  margin-top: 300px !important;
}
h1, p {
  outline: none;
}
p {
  font-weight: normal;
  font-size: 16px;
}
