<nav class="navbar">
  <div class="navbar-left">
    <a href="#"><img src="assets/images/icono.png" alt=""></a>

  </div>
  <ul class="navbar-right">
    <li class="nav-item">
      <a class="nav-link" routerLink="alta-pacientes">Alta pacientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Solicitar medicamentos</a>
    </li>
    <li class="nav-item" class="nav-item-contacto">
      <a class="nav-link" href="#">Contacto</a>
    </li>
  </ul>
</nav>

<div class="imagen-texto">
  <img src="assets/images/doctores.png" class="doctores">
  <h1>Asociate a nosotros</h1>
  <span>Contrata al mejor servicio médico de America Latina</span>
  <hr>
  <p>Nos complace presentar nuestro nuevo servicio médico, que se originó en el norte de Argentina. Con una amplia gama de servicios médicos de alta calidad, nuestro objetivo es brindar a nuestros pacientes la mejor atención médica posible.

    Además, ofrecemos un servicio web conveniente para registrar citas y solicitar medicamentos. Nuestro sitio web fácil de usar también ofrece información útil para mantenerse informado sobre su salud y bienestar.

    Estamos comprometidos a brindar atención médica accesible y de calidad a todos nuestros pacientes. Esperamos poder servirle en el futuro cercano y ayudarlo a mantener una vida saludable</p>
    
  </div>


<div class="container">
<svg xmlns="http://www.w3.org/2000/svg" class="icono_ambulancia" width="800" height="200" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <circle cx="7" cy="17" r="2" />
  <circle cx="17" cy="17" r="2" />
  <path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" />
  <path d="M6 10h4m-2 -2v4" />
</svg>
<a class="primer_a">MediPeru es un sistema médico que ofrece servicios de urgencias médicas en todo el país. Nuestro objetivo es brindar atención médica de alta calidad y eficiente a los pacientes que requieren atención inmediata debido a enfermedades o lesiones agudas.</a>
</div>

<div class="container_2">
  <svg xmlns="http://www.w3.org/2000/svg" class="icono_mas" width="800" height="200" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M8 21h8a1 1 0 0 0 1 -1v-10a3 3 0 0 0 -3 -3h-4a3 3 0 0 0 -3 3v10a1 1 0 0 0 1 1z" />
    <path d="M10 14h4" />
    <path d="M12 12v4" />
    <path d="M10 7v-3a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v3" />
  </svg>
  <a class="segundo_a">Un equipo de profesionales altamente capacitados brinda atención médica inmediata las 24 horas del día, los 7 días de la semana, para asegurar que los pacientes reciban la atención adecuada en el momento en que más la necesitan.</a>
</div>

<div class="container_3">
  <svg xmlns="http://www.w3.org/2000/svg" class="icono_vacuna" width="800" height="200" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M17 3l4 4" />
    <path d="M19 5l-4.5 4.5" />
    <path d="M11.5 6.5l6 6" />
    <path d="M16.5 11.5l-6.5 6.5h-4v-4l6.5 -6.5" />
    <path d="M7.5 12.5l1.5 1.5" />
    <path d="M10.5 9.5l1.5 1.5" />
    <path d="M3 21l3 -3" />
  </svg>
  <a class="tercer_a">Los servicios de urgencias incluyen una amplia gama de servicios, desde el tratamiento de lesiones y enfermedades menores hasta el manejo de emergencias críticas, como ataques cardíacos, accidentes cerebrovasculares.</a>
</div>

<div class="container_4">
  <svg xmlns="http://www.w3.org/2000/svg" class="icono_reporte" width="800" height="200" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
    <rect x="9" y="3" width="6" height="4" rx="2" />
    <line x1="10" y1="14" x2="14" y2="14" />
    <line x1="12" y1="12" x2="12" y2="16" />
  </svg>
  <a class="cuarto_a">En MediPeru, nos enorgullece ofrecer una atención médica integral y de alta calidad a nuestros pacientes en todo el país. Estamos comprometidos en brindar un servicio de urgencias médicas accesible y de calidad, asegurando la salud y bienestar de nuestros pacientes en todo momento.</a>
</div>