<nav class="navbar">
  <div class="navbar-left">
    <a href="#"><img src="assets/images/icono.png" alt=""></a>

  </div>
  <ul class="navbar-right">
    <li class="nav-item">
      <a class="nav-link" href="#">Alta pacientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Solicitar medicamentos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contacto</a>
    </li>
  </ul>
</nav>

<div class="imagen-texto">
  <h1>Asociate a nosotros</h1>
  <span>Contrata al mejor servicio médico de America Latina</span>
  <hr>
  <p>Nos complace presentar nuestro nuevo servicio médico, que se originó en el norte de Argentina. Con una amplia gama de servicios médicos de alta calidad, nuestro objetivo es brindar a nuestros pacientes la mejor atención médica posible.

    Además, ofrecemos un servicio web conveniente para registrar citas y solicitar medicamentos. Nuestro sitio web fácil de usar también ofrece información útil para mantenerse informado sobre su salud y bienestar.

    Estamos comprometidos a brindar atención médica accesible y de calidad a todos nuestros pacientes. Esperamos poder servirle en el futuro cercano y ayudarlo a mantener una vida saludable</p>
</div>
<img src="assets/images/doctores.png" class="doctores">
