<nav class="navbar">
  <div class="navbar-left">
    <a href="#"><img src="assets/images/icono.png" alt=""></a>

  </div>
  <ul class="navbar-right">
    <li class="nav-item">
      <a class="nav-link" href="#">Alta pacientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Solicitar medicamentos</a>
    </li>
    <li class="nav-item" class="nav-item-contacto">
      <a class="nav-link" href="#">Contacto</a>
    </li>
  </ul>
</nav>

<div class="imagen-texto">
  <h1>Asociate a nosotros</h1>
  <span>Contrata al mejor servicio médico de America Latina</span>
  <hr>
  <p>Nos complace presentar nuestro nuevo servicio médico, que se originó en el norte de Argentina. Con una amplia gama de servicios médicos de alta calidad, nuestro objetivo es brindar a nuestros pacientes la mejor atención médica posible.

    Además, ofrecemos un servicio web conveniente para registrar citas y solicitar medicamentos. Nuestro sitio web fácil de usar también ofrece información útil para mantenerse informado sobre su salud y bienestar.

    Estamos comprometidos a brindar atención médica accesible y de calidad a todos nuestros pacientes. Esperamos poder servirle en el futuro cercano y ayudarlo a mantener una vida saludable</p>
</div>
<img src="assets/images/doctores.png" class="doctores">

<svg xmlns="http://www.w3.org/2000/svg" class="icono_ambulancia" width="800" height="200" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <circle cx="7" cy="17" r="2" />
  <circle cx="17" cy="17" r="2" />
  <path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" />
  <path d="M6 10h4m-2 -2v4" />
</svg>
